*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin-top: 70px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Times New Roman", Times, serif;
  overflow: auto;
  background-color: white;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

#navbar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

#navbar a:link,
#navbar a:visited {
  color: white;
  padding: 10px 25px;
}

ul {
  margin: auto auto 0;
  padding: 0;
  list-style: none;
  display: inline;
  width: 600px;
  text-align: center;
}
ul li {
  display: inline-block;
  position: relative;
  padding: 15px 0;
}

#about {
  min-width: 100px;
  max-width: 100%;
  border: 15px outset black;
  padding: 100px;
  text-align: center;
}

#about p {
  font-size: 12px;
}

#projects {
  background-color: white;
  padding: 10px;
}

#projects h1 {
  text-align: center;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
}

#project-grid img {
  min-width: 200px;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.project-tile {
  border: 10px;
  max-width: 300px;
  display: inline;
}

.project-title {
  text-align: center;
  font-weight: bold;
}

#profile-link {
  background-color: black;
  text-align: center;
  color: white;
}

#profile-link a:link,
#profile-link a:visited {
  color: white;
  padding: 15px 25px;
  display: inline-block;
}
